{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["assembly/__tests__/**/*.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
